.header-top{
    background-color: #ff9100;
    color: white;
    height: 30px;
    padding-left: 200px;
}

.list-l{
    display: inline-block;
}

.list-l li{
    display: inline-block;
    padding-right: 20px;
    border-right: white 1px solid;
    padding-top: 4px;
}

.list-l li:last-child{
    border-right: none;
}

.list-l li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.list-r button{
    border: none;
    background-color: #ff9100;
    color: white;
    font-size: 16px;
}

.list-r{
    display: inline-block;
    margin-left: 1050px;
}

.list-r li{
    display: inline-block;
    border-right: white 1px solid;
    padding-top: 4px;
}

.list-r li:last-child{
    border-right: none;
}

.header-bottom{  
    padding-top: 20px;
    vertical-align: top;
    padding-left: 200px;
    color: #898888;
    height: 90px;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.header-bottom li{
    display: inline-block;
}

.header-bottom li:first-child{
    padding-right: 250px;
}

.header-bottom li:nth-child(2){
    padding-right: 15px;
}

.header-bottom li:nth-child(3){
    padding-right: 15px;
}

.header-bottom li:nth-child(4){
    padding-right: 15px;
}

.header-bottom li:nth-child(5){
    padding-right: 15px;
}

.header-bottom li:nth-child(6){
    padding-right: 500px;
}

.header-bottom li:first-child img{
    width: 90px;
}

.header-bottom li:last-child img{
    width: 30px;
}




.carousel{
    background-image: url(../images/60gb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px       ;
    width: 100%;
}

.advantageous{
    margin-top: 100px;
}

.col-2{
    margin-left: 200px;
    display: inline-block;
}

.col-2 img{
    width: 430px;
}

.naxtel-plus{
    background-color: #ff9100;
    height: 400px;
    margin-top: 50px;
    color: white;
}

.plus-l{
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
}

.plus-l img{
    width: 80px;
}

.plus-r {
    display: inline-block;
}

.plus-r img{
    width: 900px;
}


.suggestions{
    margin-top: 200px;
}

.suggestions h1{
    text-align: center;
    color: #898888  ;
}


.suggestions .col-3{
    background-color: #ff9100;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 90px;
    color: white;
}

.suggestions .col-3:first-child{
    margin-left: 100px;
}

.suggestions .col-3 img{
    padding-top: 30px;
    width: 100px;
}

.news{
    background-color: #f8f8f8;
}

.news h2{
    padding-top: 90px;
    color: #898888;
    padding-left: 870px;
}

.btn-outline-warning {
    --bs-btn-color: #fcb75d;
    --bs-btn-border-color: #fcb75d;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #fcb75d;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #fcb75d;
    --bs-btn-active-border-color: #fcb75d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fcb75d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fcb75d;
    --bs-gradient: none;
}



.footer-top{
    background-color: #3c98a7;
    color: white;
    padding-top: 20px;
}

.footer-top li{
    list-style: none;
}

.footer-bottom{
    background-color: #2d727d;
    color: white;
    height: 50px;
}